<div class="container">
  <passenger-count [items]="passengers"></passenger-count>
  <passenger-detail></passenger-detail>

  <ul>
    <li *ngFor="let passenger of passengers">
      <span class="status" [ngClass]="getStatusClass(passenger)"></span>
      {{ passenger.fullName }}

      <div class="date">
        Checkin Date :
        {{
          passenger.checkedIn
            ? (passenger.checkInDate | date: "y MMMM d" | uppercase)
            : "not checked in yet"
        }}
      </div>
      <div class="children">
        children: {{ passenger.children?.length || 0 }}
      </div>
    </li>
  </ul>
</div>
