<div>
  <span class="status" [class.checked-in]="passenger.checkedIn"></span>
  <div *ngIf="editing; else notEditing">
    <input
      type="text"
      [value]="passenger.fullName"
      #name
      (input)="onInput(name.value)"
    />
  </div>
  <ng-template #notEditing>
    <div>
      {{ passenger.fullName }}
    </div>
  </ng-template>

  <div>
    {{ passenger | json }}
  </div>
  <div class="date">
    {{
      passenger.checkInDate
        ? (passenger.checkInDate | date: "longDate" | uppercase)
        : "Not checkedIn yet"
    }}
  </div>
  <div class="child">children :{{ passenger.children?.length || 0 }}</div>
  <button (click)="onEditing()">{{ editing ? "done" : "edit" }}</button>
  &nbsp;
  <button (click)="onRemove()">remove</button>
</div>
