.status {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  margin: 8px 10px 0 0;
  background-color: #bb0f17;
  display: block;
  float: left;

  &.checked-in {
    background-color: #01937c;
  }
}
